<form method="POST" action="/register">
    <div class="data">
        <h2> Registrate </h2>
    </div>
    <input type="text" name="nombre" autocomplete="off" placeholder="Por favor, ingrese su usuario." />
    <input type="password" name="password" autocomplete="off" placeholder="Por favor, ingrese su contraseña." />
    <input type="email" name="email" autocomplete="off" placeholder="Por favor, ingrese su correo." />
    <input type="submit" value="Submit" autocomplete="off" />
    <div class="paragraph">
        <p> ¿Ya estás registrado? <a href="/"> Login </a></p>
    </div>
</form>