<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/fail.css">
    <meta charset="UTF-8">
    <title>Fail Login</title>
</head>

<body>
    <section>
        <div class="conteiner">
            <h2> ERRROR LOGIN </h2>
            <a href="/"> Volver </a>
        </div>
    </section>
</body>

</html>